# Sakila MySQL
SAKILA_DB_HOST=localhost
SAKILA_DB_PORT=3306
SAKILA_DB_NAME=sakila
SAKILA_DB_USER=sakila_app
SAKILA_DB_PASSWORD=change_me

# OULAD PostgreSQL
OULAD_DB_HOST=localhost
OULAD_DB_PORT=5432
OULAD_DB_NAME=oulad
OULAD_DB_USER=oulad_loader
OULAD_DB_PASSWORD=change_me

