DATA_SOURCE=url
DATASET_PATH=data/raw/sms_spam.csv
DATASET_URL=https://archive.ics.uci.edu/static/public/228/sms+spam+collection.zip
DATASET_SHA256=1587ea43e58e82b14ff1f5425c88e17f8496bfcdb67a583dbff9eefaf9963ce3
TEXT_COLUMN=text
TARGET_COLUMN=label
RANDOM_STATE=42
